:root {
	--bodyColor: hsl(0, 0%, 65%);
	--bodyBgColor: hsl(0, 0%, 0%);
	
	--highlightYellowBgColor: rgba(255, 255, 0, 0.2);
	--detailsBorderColor: rgb(50, 50, 50);
	--detailsOddBgColor: rgb(30, 30, 30);
	--detailsEvenBgColor: rgb(22, 22, 22);
	--spoilerBgColor: rgb(30, 22, 22);
	--qBgColor: rgba(255, 255, 255, 0.15);
	--linkColor: rgb(150, 15, 150);
	--linkHoverBgColor: rgb(50, 5, 50);
}

* {
	color: var(--bodyColor);
}
body {
	background-color: var(--bodyBgColor);
}
a {
	color: var(--linkColor);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	background-color: var(--linkHoverBgColor);
}
details {
	border: 1px solid var(--detailsBorderColor);
	border-radius: 0.0625in;
	padding-inline-start: 0.25in;
	margin-inline-start: 0;
}
details > summary {
	margin-inline-start: -0.25in;
}
.problem-part summary {
	background-color: var(--spoilerBgColor);
}
summary:hover {
	cursor: pointer;
}
details,
details details details,
details details details details details,
details details details details details details details,
details details details details details details details details details {
	background-color: var(--detailsOddBgColor);
}
details details,
details details details details,
details details details details details details,
details details details details details details details details,
details details details details details details details details details details {
	background-color: var(--detailsEvenBgColor);
}
q {
	background-color: var(--qBgColor);
}
.underline {
	text-decoration: underline;
}
/* .problem-part,
.problem-part details, */
.indent {
	margin-inline-start: 0.25in;
}
ol, ul {
	padding-inline-start: 0.25in;
}
.problem-section details {
	margin-block: 0.5rem;
}
.problem-section details > summary {
	font-weight: bold;
}
p {
	text-indent: 0.125in;
	margin-block: 0;
}
.highlight-yellow {
	background-color: var(--highlightYellowBgColor);
	padding: 0.25rem 0.125rem;
	margin-inline: 0.125rem;
}
pre, svg {
	display: inline-block;
	padding: 0.0625in 0.125in;
	border-radius: 0.0625in;
	background-color: var(--bodyBgColor);
}
/* list-style-type: symbols(cyclic '•' '◦' '▪' '▫' '▸' '▹' '⋄' '⁃'); */
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}
ul ul ul ul {
	list-style-type: '▫';
}
ul ul ul ul ul {
	list-style-type: '▸';
}
ul ul ul ul ul ul {
	list-style-type: '▹';
}
ul ul ul ul ul ul ul {
	list-style-type: '⋄';
}
ul ul ul ul ul ul ul ul {
	list-style-type: '⁃';
}